name: CI
 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
 
env:
  CSV_URL: "MLproject/train_pca.csv"
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3
 
      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
 
      # Install mlflow
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow
      
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLproject --env-manager=local 
 
      # Save models to GitHub Repository
      - name: Save mlruns to repo
        run: |
          # 1. Pastikan user.name dan user.email disetel untuk commit
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # 2. Tambahkan file dan commit
          git add mlruns/
          git commit -m "Save mlruns from CI run" || echo "No changes to commit"

          # 3. Push ke branch 'main' (pastikan ini branch Anda) menggunakan GITHUB_TOKEN bawaan
          # GITHUB_TOKEN akan ditambahkan ke URL remote
          git push https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
